numpy>=1.26.4,<2.0
pandas>=2.1,<2.4
scipy>=1.12,<1.14
scikit-learn>=1.4,<1.6
tensorflow==2.17
tqdm>=4.66,<5
pybind11>=2.12,<2.13
cmake>=3.25
onnx>=1.16,<1.18
onnxruntime>=1.19,<1.22
onnx-tf
maraboupy
